.product-show {
  width: 100%;
  @extend.flex-row;
  padding-top: 7vh;

  .content-image {
    width: 65%;
    @extend.flex-row;
    justify-content: flex-end;

    .additional-images {
      width: 10%;
      @extend.flex-column;

      .images-box {
        margin-top: 10px; 
        img {
          width: 65px;
          height: 65px; 
          object-fit: cover;
          border-radius: 15px;
        }
      }
    }
    .carousel-image {
      width: 50%; 
      
      .first-image{
        margin-top: 10px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
          }
          
      }

    }
  }

  .show-description {
    width: 45%;
    padding: 3vh 10rem;
    ul{
        li{
            list-style: none;
            padding: 1rem;
        }
        .description-product{
            font-size: large;
        }
    }
  }
}
