
.user-body{
    width: 100%;
    @extend.flex-row;
    .user-menu{
        width: 20%;
        height: 85vh;
        padding: 30px 30px;
        border-right: 2px solid $gray;
        nav{
          height: 100%;
            @extend.flex-column;
            justify-content: center;
            align-items: center;
            font-size: large;
            line-height: 2.9;
            h3{
              padding: 10px;
              transition: transform 0.3s ease; // Add a smooth transition effect

              &:hover {
                transform: scale(1.1); // Enlarge the link on hover
              }
            }

        }
    }
    .user-content{
        width: 80%;
        margin-top: 4vh;
        .adress-content {
            width: 100%;
            height: 30vh;
            @extend.flex-row;
            justify-content: center;
            align-items: center;
          
            .add-new-adress {
              width: 25%;
              height: 35vh;
              background-color: $gray-light;
              border: 4px dashed $gray;
              border-radius: 15px;
              @extend.flex-column;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              .go-back{
                width: 100%;
                img{
                    width: 30px;
                    height: 30px;
                    position: relative;
                    left: 90%;
                    top: -50%;
                }
              }
          
              .add {
                width: 100%;
                @extend.flex-row;
                justify-content: center;
                align-items: center;
          
                img {
                  width: 80px;
                  height: 80px;
                }
              }
            }
          }
        .adress-show{
            width: 100%;
            padding: 20px;
            @extend.flex-wrap;
            justify-content: space-evenly;

            .adress {
                .remove-update-adress {
                    width: 100%;
                    @extend.flex-row;
                    justify-content: space-around;
                    margin-bottom: 3vh;
    
                        img {
                            width: 30px; 
                            height: 30px;   
                        }
                    
                }
                width: calc(33.33% - 20px); /* 33.33% pour afficher trois blocs par ligne, -20px pour l'espace entre les blocs */
                margin: 10px; /* Espace entre les blocs */
                height: 35%;
                padding: 15px;
                @extend.flex-column;
                justify-content: center;
                align-items: center;
                text-align: center;
                line-height: 1.5;
                border: 1px solid black;
                border-radius: 15px;
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                font-size: x-large;
            
            }
        
        }

    }
}