


$primary:#121b4b;
$secondary:#6ec0de;
$danger:rgb(156, 63, 63);
$gray: gray;
$gray-light:rgb(153, 152, 152);
$white:white;
$footer: rgba(255, 166, 0);
$border-radius:15px;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$title:x-large;

body{
    width: 100%;
    margin-top: 15vh;
    a {
        color: inherit; /* ou spécifiez une autre couleur, par exemple, color: black; */
        text-decoration: none;
    }
    
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;

}


// button //
.btn {
    border-radius: $border-radius;
    padding: 10px 20px;
    border: none;
    box-shadow: $box-shadow;
    cursor: pointer;
  
    &.btn-primary {
      background-color: $primary;
      color: $white;
      font-weight: 600;
  
      &:hover {
        transition: opacity 0.4s;
        border: 2px solid $primary;
        background-color: $white;
        color: $primary;
      }
    }
  }