


$primary:#121b4b;
$secondary:#6ec0de;
$gray: gray;
$white:white;
$footer: rgba(255, 166, 0);
$border-radius:15px;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$title:x-large;

body{
    width: 100%;
    margin-top: 15vh;
    a {
        color: inherit; /* ou spécifiez une autre couleur, par exemple, color: black; */
        text-decoration: none;
    }
    
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap;

}