*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border: 1px solid red;
}


@import './common/variables';
@import './pages/navBar';
@import './pages/footer';
@import './pages/securityPage';
@import './pages/user';
@import './pages/userForm';

@import './pages/product';
@import './pages/productShow';
@import './pages/home';


@import './components/button';
@import './components/flex';
@import './components/checbox';
