
<footer class="hidden">
    <div class="footer-content">
        <nav>
            <ul>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
                <li>test</li>
            </ul>
            <ul>
                <li>test</li>
                <li><p>test</p></li>
                <li><p>test</p></li>
                <li><p>test</p></li>
                <li><p>test</p></li>
            </ul>
            <ul>
                <li>test</li>
                <li><p>test</p></li>
                <li><p>test</p></li>
                <li><p>test</p></li>
                <li><p>test</p></li>
            </ul>
            <ul>
                <li>test</li>
                <li><p>test</p></li>
                <li><p>test</p></li>
                <li><p>test</p></li>
                <li><p>test</p></li>
            </ul>

            
        </nav>
        <div class="social">
            <div class="svg-social"> <a href=""><img src="{{asset ('build/images/icons/twitter.svg')}}" alt="Icone twitter"></a> </div>
            <div class="svg-social"><a href=""><img src="{{asset ('build/images/icons/facebook.svg')}}" alt="Icone facebok"></a></div>
            <div class="svg-social"><a href=""><img src="{{asset ('build/images/icons/instagram.svg')}}" alt="Icone tinstagram"></a></div>
            <div class="svg-social"><a href=""><img src="{{asset ('build/images/icons/tiktok.svg')}}" alt="Icone tiktok"></a></div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="">
            <p>&copy; 2024 ,  Tous droits réservés</p>
        </div>
        <div class="">

        </div>
    </div>
</footer>