<div class="user-menu">
    <nav>
      <a href="{{path('user_adress')}}"><h3>Adresse de livraison</h3></a>
      <a href=""><h3>Mes commandes</h3></a>
      <a href=""><h3>Service client</h3></a>
      <a href="{{path('user')}}"><h3>Profil</h3></a>
      <a href="{{path('changePassword')}}"><h3>Changer le Mot de passe</h3></a>
    </nav>
  </div>