footer {
  
  // visibility: hidden;
  bottom: 0;
 
  padding: 2vh 2rem;
  background-color: $black;
  @extend.flex-column;
  

  .footer-content {
    width: 100%;
    @extend.flex-row;

    nav {
      width: 88%;
      padding: 2vh 15rem 2vh 3rem;
      display: flex;
      justify-content: space-around;
      ul{
        li{
            list-style: none;
            line-height: 1.5;
            color: $white;
            font-size: large;
            p{
                color: $gray;
                font-size: medium;
                &:hover{
                     color: $white;
                }
            }
        }
      }
    }

    .social {
      width: 12%;
      @extend.row-betwen-100;
      margin-right: 10rem;
      .svg-social{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: $gray;
          a{
            cursor: pointer;

            img {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20px;
              height: 20px;
              &:hover{
                color: $white;
              }
              }
          }

        }
    }
  }

  .sub-footer {
    width: 100%;
    @extend.flex-row;
    p{
        color: $white;
    }
  }
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;

  &.visible {
    transform: translateY(0%);
    animation: fadeInUp 0.8s ease-out;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
