header {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  @extend.flex-column;
  background-color: $NAV-background-color;
  nav {
    @extend.flex-row;
    align-items: center;
    margin: 1vh 5rem;
    .logo {
      width: 20%;
      height: 8vh;
      @extend.flex-row;
      justify-content: center;
      border: 2px solid skyblue;
    }
    .menu {
      width: 60%;
      .menu-list {
        ul {
          list-style: none;
          @extend .flex-row;
          justify-content: space-evenly;

          li {
            display: inline-block;
            list-style: none;
            margin: 10px 20px;

            .tab-links {
              cursor: pointer;
              position: relative;
              &:hover {
                &::after {
                  width: 100%;
                }
              }
              &::after {
                content: "";
                width: 0;
                height: 0.4vh;
                background: $black;
                position: absolute;
                left: 0;
                bottom: -8px;
                transition: 0.5s;
              }
            }
          }
        }
      }
    }

    .user {
      width: 8%;
      @extend.flex-row;
      justify-content: center;
      img {
        width: 30px;
        height: 30px;
        fill: $black;
        cursor: pointer;
      }
    }
    .cart-shop {
      width: 8%;
      @extend.flex-row;
      justify-content: center;
      img {
        width: 30px;
        height: 30px;
        fill: $black;
        cursor: pointer;
      }
    }
    
  }

  .under-menu {
    width: 100%;
    @extend .flex-row;
    position: relative;
    z-index: 2;
  
    &.active-tab {
      display: flex;
    }
  
    .tab-contents {
      width: 100%;
      background-color: $NAV-background-color;
      box-shadow: $box-shadow-product;
      display: none;
      z-index: 2;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin: 2vh 5rem;
  
          p {
            color: $gray;
  
            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  
    .tab-contents.active-tab {
      display: flex;
      padding: 15px;
    }
  
    .user-menu {
      width: 25%;
      position: absolute;
      right: 0;
      @extend.flex-row;
      visibility: hidden;
      background-color: $NAV-background-color;
      box-shadow: $box-shadow-product;
      
      .menu-1{
        width: 50%;
      }
     .menu-2{
      width: 50%;
      border-left: 1px solid $gray;
      ul {
        
        list-style: none;
        padding: 0;
  
        li {
         
          @extend.flex-row;
          align-items: center;
          a {
            width: 100%;
            display: block;
            color: #333;
            text-decoration: none;
            padding: 10px 20px;
            // border-radius: 10px;
            font-size: large;
            img{
              width: 20px;
              height: 20px;
              vertical-align: middle;
              margin-right: 10px;
            }
            
            &:hover {
              background-color: #b7b4b493;
              box-shadow: $box-shadow-product;
            }
          }
        }
        .user-granted {
          width: 100%;
          height: 4vh;
          @extend .flex-row;
          justify-content: center;
          align-items: center;
          background-color: $primary;
          color: $white;
          // border-top-right-radius: 9px;
          // border-top-left-radius: 9px;
        }
      }
     }
  
  
     
    }
  }
}
