

{% extends 'base.html.twig' %}
{% block title %}Hello UserController!{% endblock%}
{% block body %}

<div class="user-body">
  {% include "includes/userMenu.html.twig" %}

  <div class="user-form-content">
    <h2> {{ app.user.fullname }}</h2>
    <div class="flex-row">
      <div class="user-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="button">
          <button class="btn btn-primary">Modifier</button>
        </div>
        {{ form_end(form) }}

      </div>
    </div>
    
  </div>

 
      
  </div>
</div>
{% endblock %}