

{% extends 'base.html.twig' %}
{% block title %}Hello UserController!{% endblock%}
{% block body %}

<div class="user-body">
  {% include "includes/userMenu.html.twig" %}


  <div class="user-content">
    <div class="adress-content">
      <div class="add-new-adress">
        <h2> {{ app.user.fullname }}</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Modifier</button>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}