{% extends 'base.html.twig' %}
{% block title %}Hello UserController!{% endblock%}
{% block body %}

<div class="user-body">
  {% include "includes/userMenu.html.twig" %}


  <div class="user-content">
   
</div>
{% endblock %}
