{% extends 'base.html.twig' %}
{% block title %}Hello UserController!{% endblock%}
{% block body %}

<div class="user-body">
  <div class="user-menu">
    <nav>
      <a href="{{path('changePassword')}}">Changer le Mot de passe</a>
      <a href="{{path('user_adress')}}">Adresse de livraison</a>
    </nav>
  </div>

  <div class="user-content">
   
</div>
{% endblock %}
